/* ========================
   TIPOGRAFIA
======================== */

/* TITLES */
.title-large {
  font-size: 33px;
  font-weight: var(--peso-bold);
}

.title-medium {
  font-size: 30px;
  font-weight: var(--peso-bold);
}

/* TEXT */
.text-large {
  font-size: 22px;
  font-weight: var(--peso-semibold);
}

.text-medium {
  font-size: 18px;
  font-weight: var(--peso-semibold);
  line-height: 22px;
}

.text-base {
  font-size: 16px;
  font-weight: var(--peso-regular);
  line-height: 1.5;
}

.text-small {
  font-size: 14px;
  font-weight: var(--peso-medium);
}

.font-light {
  font-weight: var(--peso-light);
}

.font-regular {
  font-weight: var(--peso-regular);
}

.font-medium {
  font-weight: var(--peso-medium);
}

.font-semibold {
  font-weight: var(--peso-semibold);
}

.font-bold {
  font-weight: var(--peso-bold);
}